
//Local reset for user agent styles
@import "./variables";

// Give box-sizing to all elements to respect height and width
*,
*::after,
*::before {
    box-sizing: border-box;
  }

  //reset font-size to use your default size
  html {
    font-family: $font;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  

//apply reset to the elements you are going to use and their default size

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

p {
    margin: 0;
}