
@import './variables';

// background colors
.bg-primary {
    background: $primary-background;
}

.bg-secondary {
    background: $secondary-background;
}

.bg-terciary {
    background: $outer-background;
}

